* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: mintcream;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 2px solid;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}
.container button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -16px;
  right: -16px;
}
